@import'../../../assets/colors';
.bg_img{
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 1100px;
}

.img{
  height: 256px;
}

.arrow{
  background-color: rgba(255, 255, 255, 0.81);
  height: 53px;
  position: absolute;
  top: 195px;
  right: 33px;
}

.btn{
  background-color: $primary ;
  color: white;
  font-size: 24px;

}
@media (min-width:0px) and (max-width: 775px) {
  .bg_img{

    height: 900px;
  }
}
