<div class="pt-5">
  <div class="footer py-4 d-flex justify-content-around flex-row ps-5">
    <div class="d-flex flex-column me-4 col-md-3 centr">
      <img class="logo" src="../../../assets/Artboard 22 1.png" />
      <p class="ps-3 hide">landinteriors@gmail.com</p>
      <p class="ps-3 hide">+91 98987 65656</p>
      <p class="ps-4 pt-3 mobile_mode">
        We introduce our selves as LAND Interior and Architectural Design
        Consultancy – one of the best interior designers in Chennai. Chennai
        Luxury Interior and Architectural Design Consultancy has challenged the
        conventional way of interior designing and given new dimensions to the
        art of interior designing.
      </p>
      <div class="d-flex flex-row flex-wrap ps-4">
        <div
          class="icon rounded-1 d-flex justify-content-center align-items-center m-1"
        >
          <img
            class="img_icon"
            src="../../../assets/brandico_facebook-rect.png"
          />
        </div>
        <div
          class="icon rounded-1 d-flex justify-content-center align-items-center m-1"
        >
          <img
            class="img_icon"
            src="../../../assets/brandico_linkedin-rect.png"
          />
        </div>
        <div
          class="icon rounded-1 d-flex justify-content-center align-items-center m-1"
        >
          <img
            class="img_icon"
            src="../../../assets/akar-icons_twitter-fill.png"
          />
        </div>
        <div
          class="icon rounded-1 d-flex justify-content-center align-items-center m-1"
        >
          <img
            class="img_icon"
            src="../../../assets/ant-design_youtube-filled.png"
          />
        </div>
        <div
          class="icon rounded-1 d-flex justify-content-center align-items-center m-1"
        >
          <img class="img_icon" src="../../../assets/bx_bxl-instagram.png" />
        </div>
      </div>
    </div>
    <div class="d-flex flex-column col-md-1 mt-4 mobile_mode">
      <div class="d-flex align-items-center py-4 justify-content-center">
        <p>WHAT WE DO</p>
      </div>
      <p class="ps-3">Interior Design Kitchen Ceiling Bedroom Smart Home</p>
    </div>
    <div
      class="d-flex flex-column justify-content-between col-md-4 mt-4 mobile_mode"
    >
      <div class="ps-4">
        <div class="d-flex py-4 ps-3">
          <p>Get in touch</p>
        </div>
        <p class="ps-3">landinteriors@gmail.com</p>
        <p class="ps-3">+91 98987 65656</p>
      </div>

      <div class="d-flex flex-row flex-wrap justify-content-center pb-4">
        <button class="btn mx-3">About</button>
        <button class="btn mx-3">Projects</button>
        <button class="btn mx-3">Studio</button>
        <button class="btn mx-3">Blog</button>
        <button class="btn mx-3">Contact</button>
      </div>
    </div>
  </div>
</div>
