<div class="header p-4 d-flex flex-column">
  <div class="d-flex flex-row justify-content-between">
    <img class="logo ms-1" src="../../../assets/Artboard 22 1.png" />

    <div class="col-2 pt-4 menu">
      <img src="../../../assets/dashicons_menu-alt.png" />
    </div>
    <div class="d-flex flex-row col-md-4 col-sm-8 pt-5 mobile_mode">
      <h5 class="text col-6">Join as Design Expert</h5>
      <h5 class="text col-6">Partner with LAND Interiors</h5>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center pb-1 mobile_mode">
    <button class="btn col-md-1 col mx-1">About</button>
    <button class="btn col-md-1 col mx-1">Projects</button>
    <button class="btn col-md-1 col mx-1">Studio</button>
    <button class="btn col-md-1 col mx-1">Blog</button>
    <button class="btn col-md-1 col mx-1">Contact</button>
  </div>
</div>
